.shirt-item {
    cursor: pointer;
    border: 1px solid #333333;
    padding: 4px;
    margin: 4px
}

.shop-container{
    display: flex;
}

.cart-container{
    display: flex;
    flex-direction: column;
}

.cart-container > div {
    width:54px;
}